*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home{
    display: flex;
    width: 100vw;
    height: calc(100vh - 7rem);
    background: white;
}

#home #homeLeft{
    width: 50%;
    height: 100%;
    background: red;
}

#home #homeRigth{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background: blue;
}

#home #homeRigth p{
    font-size: 400px;
}